# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=stock_mgt
DB_PORT=3306

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sales@laskontech.com
EMAIL_PASSWORD=6o/kQR1eF+Y
EMAIL_FROM=sales@laskontech.com
ALERT_EMAIL=ali.toolifykit@gmail.com

# Stock Alert
STOCK_ALERT_THRESHOLD=5

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# App Configuration
PORT=3000
NODE_ENV=development
